.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .left, .header > .right{
    display: flex;
    align-items: center;
}

.header > .left {
    gap: 15px;
}

.header > .right {
    gap: 20px;
}

.checkbox-group {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
}

.card-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding: 10px;
}

.card {
    height: 225px;
    background-image: url('../../assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}