.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .left, .header > .right{
    display: flex;
    align-items: center;
}

.header > .left {
    gap: 15px;
}

.header > .right {
    gap: 20px;
}

.checkbox-group {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}