.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .left, .header > .right{
    display: flex;
    align-items: center;
}

.header > .left {
    gap: 15px;
}

.header > .right {
    gap: 20px;
}

.checkbox-group {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
}