.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}